#intro-content {
  position: fixed;
  inset: 0;
  transform-origin: center;
  transform: scale(1) rotate(0deg);
  z-index: 1;
}

#invitation-content {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 10;
  display: none;
}

#invitation-pdf {
  width: 100%;
  height: 100%;
  border: none;
}

#cartel-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-33%, -30%) rotate(-4deg);
  width: 145px;
  transition:
    transform 0.1s ease,
    opacity 0.1s ease;
  transform-style: preserve-3d;
  z-index: 2;
}

#cartel-img.hide {
  transform: translate(-33%, -30%) rotateY(90deg);
}

#invitation-img {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes moveAndScale {
  0% {
    transform: translate(-57%, -50%) scale(0.01);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
  }
}

#invitation-img.animate {
  animation: moveAndScale 5s forwards;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
}

